@using ETicaret.Core.DTO
@model List<GetPersonellerWithKullanicilarDTO>

@section addTopLibrary {

	<!-- DataTables -->
	<link rel="stylesheet" href="~/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="~/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="~/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
	<!-- Theme style -->
}

<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">
					<a href='~/AdminPanel/AdminPersoneller/PersonelKaydetIndex' class='btn btn-block btn-success col-md-3'>Yeni Personel Ekle</a>
				</h1>
			</div><!-- /.col -->

			<div class="col-sm-6">

				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item active">Personel Listesi</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->

<section class="content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-12">
				<div class="card">
					<!-- /.card-header -->
					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>ID</th>
									<th>Personel Adı</th>
									<th>Personel Soyadı</th>
									<th>Cinsiyet</th>
									<th>Personel Maaşı</th>
									<th>Çalıştığı Firma</th>
									<th>Yaşadığı Şehir</th>
									<th>PersonelMi</th>
									<th>Kullanıcı Ad Soyad</th>
									<th>Güncelle</th>
									<th>Sil</th>
								</tr>
							</thead>

							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.Id</td>
										<td>@item.PersonelAdi</td>
										<td>@item.PersonelSoyadi</td>
										<td>@item.Cinsiyet</td>
										<td>@item.PersonelMaasi</td>
										<td>@item.CalistigiFirma</td>
										<td>@item.YasadigiSehir</td>
										<td>@item.PersonelMi</td>
										<td>@item.kullanicilar.Adi @item.kullanicilar.Soyadi</td>
										<td>
											<a href="~/AdminPanel/Personeller/PersonelGuncelleIndex/@item.Id" class="btn btn-sm btn-warning" id=""><i class="fas fa-pencil-alt"></i></a>
										</td>

										<td>
											<a href="~/AdminPanel/Personeller/PersonelSilIndex/@item.Id" class="btn btn-sm btn-danger" id=""><i class="fas fa-trash"></i></a>
										</td>
									</tr>
								}
							</tbody>
						</table> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div>
	@Html.Raw(TempData["guncelleMesaj"])
</div>

@section addBottomLibrary {

	<script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="~/AdminLTE/plugins/jszip/jszip.min.js"></script>
	<script src="~/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="~/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
	<script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
	<script>
		$(function () {
			$("#example1").DataTable({
				"responsive": true, "lengthChange": false, "autoWidth": false,
				"buttons": [
					"copy",
					// "csv",
					"excel",
					"pdf",
					"print",
					"colvis"]
			}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
			$('#example2').DataTable({
				"paging": true,
				"lengthChange": false,
				"searching": false,
				"ordering": true,
				"info": true,
				"autoWidth": false,
				"responsive": true,
			});
		});</script>
}