@using ETicaret.Core.ETicaretDatabase

@model Urunler

@section addTopLibrary {
    <link href="~/AdminLTE/plugins/dropzone/dropzone.css" rel="stylesheet" />
}



<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AdminPanel/Urunler/UrunlerIndex">Ürün Listesi</a></li>
                    <li class="breadcrumb-item active">Ürün Resimleri</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">ÜRÜN DETAY</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ürün Adı</label>
                                    <input readonly type="text" class="form-control" value="@Model.UrunAdi" placeholder="Ürün Adı">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Kategori</label>
                                    <input readonly type="text" class="form-control" value="@Model.KategoriId">
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Ürün Stok</label>
                                    <input readonly value="@Model.UrunStok" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ürün Fiyat</label>
                                    <input readonly value="@Model.UrunFiyat" type="text" class="form-control">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Ürün Açıklama</label>
                                    <textarea readonly value="@Model.Aciklama" type="text" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">ÜRÜN RESİMLERİ LİSTESİ</h3>
                    </div>
                    <!--Fotoğraf ekleme alanı-->
                    <div class="col-md-12 mt-3" >
                        <div class="col-md-12">
                            <div id="dropzone">

                                <form action="/Urunler/Upload" class="dropzone needsclick dz-clickable" id="resimEkle">
                                    <div class="dz-message needsclick">
                                        <input name="id" value="@Model.Id" hidden />
                                        Fotoğrafı sürükleyip bırakın veya buraya tıklayın.<br>
                                    </div>
                                </form>
                            </div>
                        </div>

                        @Html.Raw(TempData["Ürün fotoğraf boyutu eklenemez!!"])
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>


@section addBottomLibrary {
    <script src="~/AdminLTE/plugins/dropzone/dropzone.js"></script>
    <script src="~/AdminLTE/plugins/jquery-validation/jquery.validate.js"></script>

    <script>
        //Dropzoen script kod alanı
        Dropzone.discover = false;//Oto yüklemeyi kapatıyoruz.


        var myDropzone = new Dropzone("#uploader", {
            // $(function () {
            //     $("#resimEkle").dropzone({
            //autoProcessQueue: false,
            //Ekle,Güncelle=> API web te çağrılması ve kullanılması,
            //Pazartesi
            dictDefaultMessage: "Yüklenecek dosyaları buraya sürükleyin veya tıklayın.",
            maxFiles: 5, // Maksimum dosya sayısı
            maxFilesize: 2, // MB cinsinden maksimum dosya boyutu
            acceptedFiles: ".jpeg,.jpg,.png,.gif", // Kabul edilen dosya uzantı türleri
            addRemoveLinks: true,//Her resmin altına Remove File ekler
            dictRemoveFile: "SİL",//Eklenen Remove linkini SİL yapar


            init: function () {

                this.on("addedfile", function (file) {

                    // Dosya boyutu kontrolü
                    if (file.size > 2097152) { // 2 MB
                        this.removeFile(file);
                        alert("Dosya boyutu 2 MB'ı geçemez.");
                        return false;
                    }

                    // Dosya sayısı kontrolü
                    if (this.files.length > 5) {
                        alert("Yalnızca 1 dosya yükleyebilirsiniz.");
                        this.removeFile(this.files[1]);
                        return false;
                    }

                    // Dosya türü kontrolü
                    var acceptedFileTypes = ["image/jpeg", "image/jpg", "image/png", "image/gif"];
                    if (!acceptedFileTypes.includes(file.type)) {
                        this.removeFile(file);
                        alert("Yalnızca resim dosyaları yükleyebilirsiniz.");
                        return false;
                    }

                    // Dosya yükleme başarılı olduğunda
                    this.on("success", function (file, response) {
                        // response içinde controller'dan gelen veriler bulunur
                        if (response.success) {
                            // Dosya yolu input elemanına değeri ekle
                            document.getElementById("dosyaYolu").value = response.filePath;
                        }
                    });
                    // });
                },
                                    });
                                });


        // document.getElementById("fotografDegistir").addEventListener("click", function () {
        //     // Mevcut dosyayı kaldır
        //     myDropzone.removeAllFiles();

        // });

    </script>
}


